DB_HOST=db
DB_USER=root
DB_PASS=root
DB_PORT=3306
DB_NAME=netooil
SECRET_KEY=change-me-in-production
ENV=production
AUTH_COOKIE_SECURE=false
AUTH_COOKIE_SAMESITE=lax

MQTT_HOST=netotrack.com
MQTT_PORT=8883
MQTT_TOPIC=netofuel/#
MQTT_CLIENT_ID=netooil-python-ingest
MQTT_USE_TLS=true
MQTT_TLS_INSECURE=false
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_CA_CERT_PATH=cert/backup/ca.crt
MQTT_CLIENT_CERT_PATH=cert/backup/fmc650.crt
MQTT_CLIENT_KEY_PATH=cert/backup/fmc650.key

SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=NetoTrack <info@example.com>
